html {
  scroll-snap-type: y mandatory;
}
.app {
  color: white;
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app__videos {
  position: relative;
  height: 800px;

  overflow: scroll;
  width: 100%;
  max-width: 400px;
  scroll-snap-type: y mandatory;
  border-radius: 20px;
}

.app__videos::-webkit-scrollbar {
  display: none;
}
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
